@use "base/variables" as *;
@use "base/mixin" as *;

/* modifier */
.active {
  background: #{$hover};
}

.selected {
  background: #{$secondary};
}

/* style */
.list {
  background: #{$white};
  width: 100%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  max-height: 250px;
  overflow-y: auto;
  border-radius: 7px;
}

.item {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #{$hover};
  }
}
