@use "base/mixin" as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 13px;
  line-height: 1;
  & img {
    min-width: 15px;
    min-height: 15px;
  }
  & p {
    @include truncate;
  }
}
