@use "base/variables" as *;
@use "base/mixin" as *;

/* styles */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  margin-left: auto;
  @include responsive(laptop) {
    margin-left: 0;
  }
  @include responsive(mobile) {
    width: 100%;
  }
}

.text {
  font-size: 18px;
  color: #{$secondary};
  font-weight: $bold;
  @include responsive(mobile) {
    font-size: 14px;
  }
}

.wrapper {
  display: grid;
  @include gridCols(2);
  gap: 15px;
  @include responsive(mobile) {
    @include gridCols(1);
  }
}

.policy {
  font-size: 14px;
  color: #{$gray};
  line-height: 1.5;
  @include responsive(mobile) {
    font-size: 12px;
  }
}

.navigation {
  cursor: pointer;
  font-size: 18px;
  color: #{$primary};
  margin-top: 15px;
  @include responsive(mobile) {
    font-size: 14px;
  }
}

/* modifier */
.grid {
  display: grid;
  @include gridCols(2);
  gap: 15px;
}

.flex {
  flex: 1;
}

.center {
  @include center;
}
