@use "base/variables" as *;
@use "base/mixin" as *;

.container {
  background: #{$white};
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    .name {
      color: #{$primary};
    }
  }
}

.name {
  @include truncate;
  font-size: 18px;
  font-weight: $medium;
  transition-duration: 0.2s;
}

.time {
  font-size: 14px;
  color: #{$secondary-light};
}

.icon {
  @include center;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
  &:hover {
    @include hoverShadow;
  }
}

.content {
  & img {
    width: 100%;
    height: 100%;
  }
}
.editor {
  padding: 0 15px 10px 15px;
  line-height: 1.5;
  font-size: 14px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #{$gray-light};
}

.btn-action {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #{$secondary};
  transition-duration: 0.2s;
  cursor: pointer;
  &:hover {
    color: #{$primary};
  }
}
