@use "base/variables" as *;
@use "base/mixin" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  @include responsive(mobile) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo {
  width: 150px;
  @include responsive(mobile) {
    width: 100px;
  }
}

.language {
  display: flex;
  align-items: center;
  color: #{$secondary};
  gap: 5px;
  cursor: pointer;
}
